
/* start rulez*/

body{
    background-color: darkkhaki;
}

/* end rulez*/




/* start login form*/

.login {
    width: 300px;
    margin: 100px auto;

}
.login input{
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #e5e5e5;
}
.login .btn{
    background-color: chartreuse;
}
.login h3{
     color: crimson;
}

/* end login form*/